*{
	margin: 0;
	padding: 0;
}
p{
	font-size: 20px;
	line-height: 26px;
}
body{
	font-family: 'Roboto', sans-serif;
}
/*------------------------------------------------------------------*/
nav{
	width: 100px;
}
ul.nav{
	position: relative;
	margin: 0 auto;
}
li.nav:hover{
	margin: 0 auto;
	background-color: grey;
	border-radius: 5px 5px 5px;
}
a{
	text-decoration: none;
}
/*------------------------------------------------------------------*/
div.container{
	width: 70%;
	margin: 0 auto;
}
/*------------------------------------------------------------------*/
h1.title{
	font-size: 36px;
	line-height: 36px;
	padding-bottom: 20px;
	border-bottom:  1px solid black;
}
p.par1{
	padding-top: 20px;
	font-size: 24px;
	line-height: 32px;
}
/*------------------------------------------------------------------*/
h2{
	padding-top: 40px;
	font-size: 32px;
	line-height: 32px;
	padding-bottom: 20px;
}
p.ingr{
	padding-bottom: 10px;
}
p.berij{
	padding-bottom: 40px;
}
img{
	height: 760px;
	width: 760px;
}
/*------------------------------------------------------------------*/
div.tip{
	background-color: #def6ed;
}